$font-size: 16px;
$font-conversion: 1em/$font-size;


body {
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
}

.player {
  width: 1em;
  height: 1em;
  border-style: solid;
  display: inline-block;

  &:not(.active){
    border-color: white !important;
  }
}

.clickable {
  cursor: pointer;
}

$hwo: 133px;
$hho: 117px;
$hscale: 1;
$nhwo: $hwo * $hscale * $font-conversion;
$nhho: $hho * $hscale * $font-conversion;

$offset-multiplier: 0.84;
$col-offset: $offset-multiplier * $nhwo;

/* BOARD */
#board-pane {
  text-align: center;
  padding: 1em 0;
}
#board {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  padding-bottom: 4em*$hscale;
}

/* LOG */
#log {
  background: whitesmoke;
  position: fixed;
  bottom: 0;
  right: 0;
  border-top: 2px solid black;
  border-left: 2px solid black;
  width: 14em;
  max-height: 20em;
  padding: 0 0.5em;
}
#log-msgs {
  list-style-type: none;
  font-size: smaller;
  overflow: auto;
  max-height: 19em;
  width: inherit;
  margin: 0.5em 0;
  padding: 0; 
}

.circle {
  border-radius: 50%;
}

.probability {
  text-align: center;
  border: 1px solid black;
  background: white;
  position: absolute;
  top: 30%;
  left: 33%;
  width: 44px * $font-conversion;
  height: 44px * $font-conversion;

  .roll {
    padding-top: 0.25em*$hscale;
  }
  .dots {
    padding-bottom: 0.25em*$hscale;
  }
}

.hex-row {
  margin-bottom: -0.45 * $nhho;
  height: $nhho; 
  text-align: left;

  &:first-child, &:last-child {
    margin-left: 3 * $col-offset;
  }
  &:nth-child(2), &:nth-last-child(2) {
    margin-left: 2 * $col-offset;
  }
  &:nth-child(3), &:nth-child(5), &:nth-child(7), &:nth-last-child(5), &:nth-last-child(3) {
    margin-left: 1 * $col-offset;
  }
}

.hex {
  width: $nhwo;
  height: $nhho;
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
  position: relative;
  display: inline-block;
  margin: 0 $nhwo/2.95;

  &.sea {
    background-image: url('../img/sea4.png');

  }
  &.brick {
    background-image: url('../img/brick4.png');
  }
  &.ore {
    background-image: url('../img/ore4.png');
  }
  &.wood {
    background-image: url('../img/wood4.png');
  }
  &.wheat {
    background-image: url('../img/wheat4.png');
  }
  &.sheep {
    background-image: url('../img/sheep4.png');
  }
  &.desert {
    background-image: url('../img/desert4.png');
  }
}

#robber-container {
  position: absolute;
  z-index: 10;
  height: 4em*$hscale;
  left: 25%;
  top: -15%;

  img{
    height: 100%;
    position: absolute;
  }
}

#robber {
  z-index: 1;
}
#robber-shadow {
  -webkit-transform: translate(1.8em, 4.6em) rotate(150deg) scale(0.8,1.4);
  -moz-transform: translate(1.8em, 4.6em) rotate(150deg) scale(0.8,1.4);
  -o-transform: translate(1.8em, 4.6em) rotate(150deg) scale(0.8,1.4);
  transform: translate(0.16*$nhwo, 0.42*$nhwo) rotate(150deg) scale(0.8,1.4);
  opacity: 0.8;
}

$road-w: $nhwo/2;
$road-h: $nhwo/15;

$r1-4-rot: -60deg;
$r1-4-hor: -18%;
$r1-4-vert: 17.8%;
$r2-5-left: 24.3%;
$r2-5-vert: -10%;
$r3-6-rot: -$r1-4-rot;
$r3-6-hor: -$r1-4-hor;
$r3-6-vert: -$r1-4-vert;

.road {
  position: absolute;
  width: $road-w;
  height: $road-h;
  background: whitesmoke;
  border: 1px solid #ccc;

  &.pos-0 {
    transform: rotate($r1-4-rot);
    left: $r1-4-hor;
    top: $r1-4-vert;
  }
  &.pos-1 {
    left: $r2-5-left;
    top: $r2-5-vert;
  }
  &.pos-2 {
    transform: rotate($r3-6-rot);
    right: $r1-4-hor;
    top: $r1-4-vert;
  }
  &.pos-3 {
    transform: rotate($r1-4-rot);
    right: $r1-4-hor;
    bottom: $r1-4-vert;
  }
  &.pos-4 {
    left: $r2-5-left;
    bottom: $r2-5-vert;
  }
  &.pos-5 {
    transform: rotate($r3-6-rot);
    left: $r1-4-hor;
    bottom: $r1-4-vert;
  }
}

$b1-2-4-5-hor: $r2-5-left - 8.4%;
$b1-2-4-5-vert: $r2-5-vert - 1.5%;
$b3-6-hor: -11.5%;
$b3-6-vert: 43.5%;

.building {
  background: whitesmoke;
  border: 1px solid #ccc;
  width: $road-h*1.5;
  height: $road-h*1.5;
  position: absolute;
  z-index: 2;

  &.pos-0 {
    left: $b1-2-4-5-hor;
    top: $b1-2-4-5-vert;
  }
  &.pos-1 {
    right: $b1-2-4-5-hor;
    top: $b1-2-4-5-vert;
  }
  &.pos-2 {
    right: $b3-6-hor;
    top: $b3-6-vert;
  }
  &.pos-3 {
    right: $b1-2-4-5-hor;
    bottom: $b1-2-4-5-vert;
  }
  &.pos-4 {
    left: $b1-2-4-5-hor;
    bottom: $b1-2-4-5-vert;
  }
  &.pos-5 {
    left: $b3-6-hor;
    top: $b3-6-vert;
  }
}

.road, .building {
  &:hover {
    background: #333;
  }
}


#dice {
  position: fixed;
  top: 0;
  right: 0;
  button {
    width: 50%;
    font-weight: bold;
    font-size: 1em;
  }
}
.die {
  display: inline-block;
  span {
    font-size: 15em;
    line-height: 1em;
  }
}